<h2><%= h(@memo['title']) %></h2>
<p><%= h(@memo['content']) %></p>
<div class="memo-actions">
  <form action="/memos/<%= params[:id] %>/edit" method="get">
    <button type="submit" class="button edit">変更</button>
  </form>
  <form action="/memos/<%= params[:id] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="button delete">削除</button>
  </form>
</div>
<a href="/memos" class="button back">戻る</a>
