<h2><%= @memo["title"] %></h2>
<p><%= @memo["content"] %></p>
<div class="memo-actions">
  <form action="/memos/<%= params[:id] %>/edit" method="get">
    <button type="submit" class="edit">変更</button>
  </form>
  <form action="/memos/<%= params[:id] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="delete">削除</button>
  </form>
</div>
<form action="/memos" method="get">
  <button type="submit" class="back">戻る</button>
</form>
